extends partials/layout.pug

block content
  //if lte IE 9
    p.browserupgrade
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='https://browsehappy.com/') upgrade your browser
      |  to improve your experience and security. 

  