$font-url-google: 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
$font-famly: 'Lato', sans-serif;
$font-awesome: 'https://use.fontawesome.com/releases/v5.0.6/css/all.css';


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$brkpoint-se: 320px;
$brkpoint-mobile: 375px;
$brkpoint-mobile-plus: 414px;
$brkpoint-tablet-portrait: 768px;
$brkpoint-tablet-landscape: 1024px;
$brkpoint-desktop: 1025px;
$brkpoint-desktop-hd: 1200px;



